@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

html {
    font-size: 62.5%;

        // css-vertical scroll properties set here...
        //>> also  see .section-container & 
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;
       
    }


body {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
    background: pink;
    overflow-x: hidden; /* hides horizontal scrollbar */
}

/*////>
/*Typography>>
/*>>>>*/
h1 {
    margin: 1em;
    font-size: 2.4em;
}

h2 {
    margin: 2em 1.5em 0em ;
}

h3 {
    margin: 1.5em auto 0em;
    font-size: 2.5em;
    width:90%;
    position: relative;
}

h3:before {
    content: '';
    position: absolute;
    width: 2px;
    background: white;
    left: -1em;
    top: 10px;
    height: 50%;
}

p {
    font-size: 1.2em;
    margin-bottom: .5em;
    margin-top: 3em;
}

span {
    position: relative;
}


span:before {
    position: absolute;
    content: '';
    height: .2em;
    width: 80%;
    bottom: .1em;
    z-index: -1;
    background: #e88a62; 
}
//ends typography///

.container { //holds on the sections/divs 
    width: 90%;
    max-width: 80%; 
    // min-width: 320px;
    border: 2px solid coral;
    margin: 0 auto;
    text-align: center;
    padding: 0 3rem;

    
  }

/*>>>>>>
/***HEADER & NAV
///>>>>*/

header {
    background-color: rgb(59, 59, 29);
     display: flex;
     justify-content: space-between;
    // overflow: hidden; 

     width: 100%;
     /*!!css scroll property-- this resolved it not scrolling into view !/*/
     /* scroll-snap-align: start;//*/
     text-align: center;
     position: relative 
     
 }
 
     a.logo {
         color: hsl(60, 100%, 97%);
         text-decoration: none;
         font-weight: 900;
         margin: 1em .5em 0;
         padding-left: 3em;
     }
 
        //>>>> 
        //OVERLAY NAV elements /
        //
     nav {
         position: fixed;
         top: 0;
         right: 0;
         height: 100vh;
         background: hsla(81, 39%, 7%, 0.911);
         width: 100%;
         visibility: hidden;
         transform: translateX(50%);
         opacity: 0;
         transition: all .3s;
         text-align: center;
         padding:0 4em;
     }
             .exit {
                 width: 2em;
                 float: right;
                 margin: .5em;
               
                 cursor: pointer;
             }
 
             ul {
                 list-style-type: none;
                 padding: 0;
                 margin-top: 4em;
 
                         .active a {
                             color: hsl(207, 100%, 49%);
                             font-weight: bold;
                         }
     
                     li a {
                         color: hsl(206, 10%, 53%);
                         text-decoration: none;
                         display: block;
                         padding: .5em 1em;
 
                         // &:hover{
                         //   background:palevioletred;
                         //     }
                     } 
             }
             ///end of overlay nav>>>>
 
         //>>>>OPEN NAV elements>>>
     .open {
          cursor: pointer;
          margin: .5em;
          padding-right: 4em;
          font-weight: 900;
     }
 
     .open-nav {
                 visibility: unset;
                 opacity: 1;
                 transform: translateX(0);
 
     } //Ends open elements
 /* ==============
 === ENDS NAV SECTION*/
 

//////
/*>>//MAIN SECTIONS
*>>*/

// .container { //holds on the sections/divs 
//     width: 90%;
//     max-width: 80%; 
//     // min-width: 320px;
//     border: 2px solid coral;
//     margin: 0 auto;
//     text-align: center;
//     padding: 0 3rem;

    
//   }


// .section-container {
//         //>>> css-vertical scroll properties set here...also see html.
//     height: 100vh;
// 	// scroll-snap-align: start;
// 	// text-align: center;
// 	// position: relative;
// }
 
        
    /*//Hero secction*/
.hero {
    background-color: rgb(59, 59, 29);
    color: ivory;
    width: 100%;
    margin: 0 auto;
    max-height: 100%;
//  position: relative;
    padding-bottom: 12em;
    padding-top: 3em;  display: block;

            h1 {
                font-size: 4rem;
                border: 1px solid red;
                
            }            

            h2 {
                font-size: x-large;
                // text-align: left;
            }

        .section-container {
            width:90%;
            max-width:90%;
            max-height: 90%;
            margin: 0 auto;
            padding: 2em;
            border: unset;
            text-align: left;
            border: 1px solid blue;
           }

      .hero-headline { //contains title and nav list
    //   background-color: blueviolet;
          width: 90%;
          margin: 0 auto;
          margin-left:5px;
          padding: 3em;

          .nav-list {
        
           display: none;
            // display: flex;
            justify-content: space-around;
            // margin-left:55em;
            width: inherit;
            margin: 0 auto;
            font-size: large;
            font-weight: 900;
            }

            .hero-arrow-down {
                text-align: center;
            }
}
// .nav-list .section-container {
//     // width: 44rem;
//     // background-color: tan;
//     // display: flex;
//     // max-height: 10%;
//     // position: absolute;
//     // right: 25%;
//     // left:25%;
// }

.nav-item {
    margin-right: 1.5em;
    padding: .5em ;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    width: 10rem;
    max-height:.1em;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.nav-item a {
    text-decoration: none;
    // color: rgb(14, 6, 87);
}

.nav-item:first-of-type{
    background-color: rgb(110, 153, 233);

    &:hover,
    &:focus {
        background-color: rgb(24, 78, 179);
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, #c8acf8, #d5cb3a);
        }
}

.nav-item:nth-of-type(2){
    background-color: rgb(253, 130, 243);
    
    &:hover,
    &:focus {
        background-color: rgb(196, 12, 165);
        border: 1px  solid white;
    }
    
}

.nav-item:nth-of-type(3){
    background-color: rgb(188, 21, 230);

    &:hover,
    &:focus {
        background-color: rgb(144, 35, 172);
        border: 1px  solid white;
    }
}

.nav-item:nth-of-type(4){
    background-color: rgb(230, 157, 21);

    &:hover,    
    &:focus {
        background-color: rgb(172, 152, 35); 
        border: 1px  solid white;
       }
}
/*... >ends Nav items
*///end of hero

}
   /*///
    /*Main section..
    /*/
    main{
        display: flex;
        flex-direction: column;
        }  
        /*///end off main


    /*///
    /*About section..
    /*/
.about-me {
   background-color: rgb(52, 10, 92);
   padding: 5em 0;

   .container {
       border: unset;
       
   }

    span.title {
        font-size: 5.5rem;
        // color: ivory;

        &::before {
          background: hsl(300, 100%, 50%); 
        }
    }
  
} 

   ///\\\
    ///cards start here
    //\\\
.flip-card {
    display: inline-flex;
    justify-content: space-between;
    // background-color: transparent;
    background-color: rgb(110, 110, 248);
    width: 18rem;
    height: 15rem;
    perspective: 1000px;
    margin: 3em 3em;
    text-align: center;
    font-size: 130%;
    font-weight: bolder;
    cursor: pointer;

  
    // margin-right: 1em;

    p {
        margin-top: 0;
        padding: 1em 0.1em;
    }
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
   border: 1px solid hsl(199, 91%, 48%);
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }  
  ///<<<<cards end here///
/*// end off about elements
*/





    // display: grid;
 
    // place-content: center;
    // max-height: 100vh;
    // width: 100vw;
    // margin: 0 auto;
//}//

.article {
    // background-color: rgb(12, 6, 90);
    padding: 3em 3em;
  
    .container {
        border:unset;
    }
}



// .wrapper

// .aside  {
//     margin: 0 3em;
//     padding-top: 2em;
//     display: grid;
//     grid-template-columns: 2fr 2.5fr;
//     grid-gap: 7em;
//     background-color:salmon;
//     border-radius: 1em;
//     -webkit-border-radius: 1em;
//     -moz-border-radius: 1em;
//     -ms-border-radius: 1em;
//     -o-border-radius: 1em;


    


// .col {
//     border: 1px solid red;
//     // width: 11rem;
//     // // height: auto;
//     float: right;
//     box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     overflow: hidden;
//     text-align: center;
//     margin:.5rem;

// }
// }



/*////////////
carousel slides
/*/////////////

.carousel {
    // background-color: rgb(163, 148, 14);
    position: relative;
    // max-height: 90vh;
    height: 550px;
    width: 90%;
    margin:0 auto;
    padding: .5em;
    padding-top:6em;
    padding-bottom: 0;
    margin: 3em 3em;
  
    
  

   
}

span.title {
    font-size: 5.5rem;
}

.carousel-image {
    max-width: 100%;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
   
   
 }

.carousel-slide img {
    // max-width: 100%;
    width:100%;
    // height:100%;
//    object-fit: contain; //crops picture.
     object-fit: cover; 
    object-position: 50% 50%;
    margin-top: 0;
    cursor: crosshair;
 }

.carousel-track-container {
    background-color: rgba(9, 48, 119, 0.479);
    max-height: 70%;
    position: relative;
    overflow: hidden; //imgs stacked 
    //allowing scroll-thru,
    // top: 5%;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
    -webkit-transition: transform 250ms ease-in;
    -moz-transition: transform 250ms ease-in;
    -ms-transition: transform 250ms ease-in;
    -o-transition: transform 250ms ease-in;
}

.carousel-slide {//absolute postion .: can stack ontop of each other
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%; 
}

/*>>>>>>>
carousel arrow buttons
/*///////
.carousel-btn {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size:3em;
    color:hsl(231, 69%, 55%);
    cursor:pointer;

    &:hover,
    &:focus{
        color: hsl(83, 97%, 54%);
    }
 
}

.carousel-left-btn {
    left: 2%;
    z-index: 1;
}

.carousel-right-btn {
    right: -2%;
    z-index: 1;
}

/*.....
carousel RADIO btns
/*.....*/

.carousel-nav {
    background: hotpink;
    display:flex;
    justify-content: center;
    padding: .3em;

        .carousel-indicator{
            border:0;
            // border-radius: 50%;
            // -webkit-border-radius: 50%;
            // -moz-border-radius: 50%;
            // -ms-border-radius: 50%;
            // -o-border-radius: 50%;
            width:15px;
            height: 15px;
            background: cornsilk;
            margin: 0 .5em;
            cursor: pointer;
        }

        .current-slide {
            background: hsl(241, 69%, 55%);
            }
        

}

.is-hidden {display: none;} //to hide left carousel button.


/*

- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy

*/


@media (max-width:600px) {

    body {
        max-width: 100%;
        margin: 0 auto;
        font-size: smaller;
        background-color: teal;
        text-align: left;
    }

    .nav-list .section-container {
        width:40vw;
        margin: 0 auto;
        background-color: tan;
        display:flex;
       flex-wrap: wrap;
        // // max-height: 10%;
        // position: absolute;
        // left: 20vw;
        // margin-left: -20px;
        // left: 50%;
        // right:0;
        // margin: auto;
        // -webkit-transform: translateX(-50%);
        // transform: translateX(-50%);
       
}


    .nav-item {
        margin-right: 1em;
        padding: .5em ;
        border-radius: .3em;
        -webkit-border-radius: .35em;
        -moz-border-radius: .35em;
        -ms-border-radius: .35em;
        -o-border-radius: .35em;
        width: 8rem;
        font-size: 50%;
         }

    // .hero .section-container {
    //     width: 100%;
    //     margin: 0 auto;
    // }
}