@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*,
:before,
:after {
    box-sizing: border-box;
    }

// html, body {
//     height: 100vh;
// }

html {
    font-size: 62.5%;
    margin: 0;
    }


body {
    background-color: navy;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    overflow-x: hidden; /* hides horizontal scrollbar */
    margin: 0;
}

#root-wrapper {
    align-items: center;
    width: 100%;
    max-width: 100vw;
    padding: 1em;
    border: 1px solid yellow;

    background: darkslategrey;
}

    .heroDiv {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 2em auto;
        color: whitesmoke;
        text-align: center;

    .heroTitle, 
    .heroSubTitle,
    .heroContent   {
        padding: .1em;
        margin-bottom: .75em;

    }
}

///Typography///
h1, h2, h3, h4, h5, p {
    margin-top:0;
    margin-bottom: 0;
}

#navbarContainer {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: smaller;

    .navbar {
        color: yellow;
        width: 100%;
        display: flex;
        // place-items: center;
        // // display:flex;
        // width: 80%;
        // color:blue;
        // justify-content: center;
        // margin: 0 auto;

        ul {
            margin:0 auto;
            width: 100%;
            justify-content: space-evenly;
          
                li {
                    display: inline;
                    list-style-type: none;
                    padding: .5em .75em;
                    margin: 0 auto;
        
                    &:hover,
                    &:focus {
                        background-color: rgb(24, 78, 179);
                        border: 2px solid;
                        border-image-slice: 1;
                        border-image-source: linear-gradient(to right, #c8acf8, #d5cb3a);
                    }
                }
            }
    }
}

//CAROUSEL / SLIDER //>
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60vh;
  margin: 0 auto;
}

#carouselImg {
  width: 100%;
  height: 400px;
  max-height: 500px; /* Set your desired max height */
  margin-bottom: 0;
}

#prevBtn,
#nextBtn {
  position: relative;
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}


